[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = /Users/maxim/depot/synrc/ca/openssl/rsa
certs             = $dir
crl_dir           = $dir
new_certs_dir     = $dir
database          = $dir/index.txt
serial            = $dir/serial
RANDFILE          = $dir/.rand
private_key       = $dir/caroot.key
certificate       = $dir/caroot.pem
crlnumber         = $dir/crlnumber
crl               = $dir/eccroot.crl
crl_extensions    = crl_ext
default_crl_days  = 3650
default_md        = sha384
name_opt          = ca_default
cert_opt          = ca_default
default_days      = 3650
preserve          = no
policy            = policy_strict

[ policy_strict ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied

[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only
default_md          = sha384
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName                     = UA
countryName_default             = UA
0.organizationName              = SYNRC
0.organizationName_default      = SYNRC
commonName                      = CA
commonName_default              = CA
stateOrProvinceName             = Kyiv
stateOrProvinceName_default     = Kyiv
localityName                    = Kyiv
localityName_default            = Kyiv
organizationalUnitName          = HQ
organizationalUnitName_default  = HQ

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
crlDistributionPoints = @crl_info
authorityInfoAccess = @ocsp_info

[ usr_cert ]
basicConstraints = CA:TRUE
nsCertType = client, email
nsComment = "SYNRC CLIENT"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection
subjectAltName = @alt_names

[ server_cert ]
basicConstraints = CA:TRUE
nsCertType = server
nsComment = "SYNRC SERVER"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
crlDistributionPoints = @crl_info
authorityInfoAccess = @ocsp_info
subjectAltName = @alt_names

[alt_names]
DNS.0 = localhost

[ crl_ext ]
authorityKeyIdentifier=keyid:always

[ ocsp ]
basicConstraints = CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, OCSPSigning

[crl_info]
URI.0 = http://crl.n2o.dev:8081/eccroot.crl

[ocsp_info]
caIssuers;URI.0 = http://crl.n2o.dev:8081/eccroot.crt
OCSP;URI.0 = http://ocsp.n2o.dev:8081/
